.image_div {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .photo{
      width: 25%;
      height: 25%;
  }
  
  .message {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 40px;
    color: red;
    text-shadow: 2px 2px 5px rgb(77, 71, 71);
  }
  
  .info {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    transform: scaleY(1.2);
    font-size: 25px;
    font-variant: small-caps;
  }
  
  .button {
    margin-bottom: 4%;
    margin-top: 4%;
  }
  
  .link {
    margin-top: 10%;
    border: 2px solid #66eb0e;
    padding: 15px 20px;
    color: #4aa70d;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
  }
  
  .link:hover {
    background: #66eb0e;
    color: #050801;
    box-shadow: 0 0 5px #67fd03, 0 0 25px #67fd03, 0 0 50px #67fd03,
      0 0 200px #67fd03;
  }
  